.tittle{
    color: #ffff;
    font-size:2rem;
    padding: 30px;
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
}

.link{
    font-size: 1.8rem !important;
    letter-spacing: 0.0375rem; /*0.6px*/
    cursor: pointer;
    text-decoration: none;
    margin-right: 0.75rem; /*12px*/
    margin-left: 0.75rem; /*12px*/
    color: #fff ;
    margin-top: 0.563rem;
    transition: color 0.3s ease; 
}


.link:hover {
    color: #FFA500; /* Cambia el color al pasar el cursor */
}

.flag{
    width: 40px;
    margin: 10px;
    cursor: pointer;
}